.about{
    padding: 9.1rem 0 7.8rem;
    .about-title{
        font-size: 4.4rem;
        line-height: 5rem;
        font-family: $lato;
    }
    .lead-intro{
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .about-content{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    .about-img{
        margin-bottom: 6.6rem;
    }
}
.search{
    .form-control{
        border: 1px solid $gray-900;
        border-right: none;
        padding: 2rem;
        color: $gray-900;
        border-radius: 0px;
        height: auto;
        &::placeholder{
            color: $gray-900;
            font-style: italic;
            font-family: $bodoni;
        }
    }
}
.input-group-append{
    .btn-outline-primary{
        color: $gray-900;
        border-color: $gray-900;
        border-left: none;
        padding: 0 2rem;
        border-radius: 0px;
    }
    img{
        max-width: 2rem;
    }
}

