.blog-item{
    .blog-content{
        width: 313px;
        height: 161px;
        top: 164px;
        left: 28px;
        right: 25px;
        transform: translate 50%;
        background-color: $white;
        .blog-date{
            font-family: $bodoni;
            font-style: italic;
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 1px;
            font-weight: $font-weight-light;
        }
        .blog-title{
            font-size: 1.6rem;
            line-height: 2.4rem;
            font-weight: $font-weight-normal;
            height: 2rem;
            overflow: hidden;
        }
    }
}
