
.blog{
    padding: 75px 0 56px;
}
.blog-item{
    .blog-content{
        width: 80%;
        bottom: 1%;
        left: 10%;
        right: 10%;
        background-color: $white;
        .blog-date{
            font-family: $bodoni;
            font-style: italic;
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 1px;
            font-weight: $font-weight-light;
        }
        .blog-title{
            font-size: 1.6rem;
            line-height: 2.4rem;
            height: 2.4rem;
            overflow: hidden;
            font-weight: $font-weight-normal;
            padding: 0px 19px 50px 18px;
        }
    }
}
