footer{
    .social{
        font-size: 2.3rem;
        .fab{
            padding: 0 1.5rem;
        }
    }
    .copyright{
        font-size: 1.4rem;
        font-weight: $font-weight-normal;
        line-height: 4.1rem;
        letter-spacing: -0.17px;

    }
}

