$default-font: $lato;
img{
    max-width: 100%;
}

html{
    font-size: 10px; // 1 rem
}

body{
    font-family: $default-font;
    font-weight: $font-weight-normal;
}
h1,h2,h3,h4,h5,h6{
    font-family: $bodoni;
}
h1{
    font-size: 3.5rem;
    line-height: 5rem;
    letter-spacing: 1rem;
    color: #FFFFFF;
}
h2{
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 5px;
    &::after{
        content: '';
        height: 2px;
        width: 7.4rem;
        background-color: $primary;
        display: block;
        margin-top: 11px;
    }
}
p{
    font-weight: $font-weight-light;
}


