$toggler-bg: $primary;
header{
    .navbar-brand{
        img{
            width: 196px;
            height: 25px;
        }
    }
    .navbar-toggler{
        border: none;
        span{
            display: block;
            width: 30px;
            height: 3px;
            margin-bottom: 5px;
            background-color: $primary;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .navbar-nav{
        .nav-link{
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 1px;
            text-align: center;
            padding: 10px;
            transition: 0.3s linear;
            &:hover, &.active{
                background-color: $primary;
                color: $gray-900 !important;
            }
        }
    }
}
@media(min-width:768px){
    header{
        .nav-item{
            margin-left: 2.5rem;
            .nav-link{
                border-bottom: 1px solid transparent;
                padding: 6px;
                &:hover, &.active{
                    background-color: transparent;
                   border-bottom: 1px solid $primary; 
                   color: $gray-900 !important;
                }
            }
        }
    }
}

@media(min-width:992px){
    header{
        .navbar-nav{
            .nav-item{
                margin-left: 5rem;
            }
        }
    }
}

@media(min-width:1200px){
    header{
        .navbar-nav{
            .nav-item{
                margin-left: 7.2rem;
            }
        }
    }
}
