.services{
    padding: 54px 0 50px;
}
.services-item:nth-of-type(even){
    div{
        &:nth-of-type(even){
            background-color: $primary;
        }
        .services-content{
            a{
                &:hover{
                    background-color: $light;
                }
            }
        }
    }
}
.services-item:nth-of-type(odd){
    div{
        &:nth-of-type(odd){
            background-color: $light;
        }
    }
}
.services-title{
    font-size: 3rem;
    line-height: 4.4rem;
    font-family: $bodoni;
}
.services-content{
    padding: 110px 50px 50px 50px;
    a{
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.5px;
        border: 1px solid $gray-900;
        &:hover{
            background-color: $primary;
        }
    }
}

@media(min-width:992px){
    .services-item:nth-of-type(odd){
        div{
            &:nth-of-type(even){
                order: -1;
            }
        }
    }
}
@media(min-width:1200px){
    .services-content{
        padding: 143px 95px 95px 95px;
        .services-title{
            font-size: 3.6rem;
        }
    }
}



