.page-content{
    padding: 4rem 0 6rem;
    .service-content{
        p{
            font-size: 1.8rem;
            line-height: 2.6rem;
        }
    }
}
@media(min-width:992px){
    .page-content{
        padding: 110px 0 70px;
    }
    .blog-title{
        font-size: 4.4rem;
        line-height: 5rem
    }
}
@media(min-width:1200px){
    .page-content{
        padding: 170px 0 110px;
    }
}

