.single-blog-header{
    padding: 40px 0 57px;
    .blog-publishing{
        background-color: transparent;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 1px;
        font-family: $bodoni;
        .blog-category{
            font-weight: bold;
            margin-right: 1rem;
        }
        .blog-date-published{
            font-style: italic;
            margin-left: 1rem;
        }
    }
    .blog-intro{
        .news-intro{
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }
}
.single-blog-content{
    .news-content{
        font-size: 1.8rem;
        line-height: 2.6rem;
        text-align: justify;
        margin-bottom: 3rem;
    }
}
.tags{
    padding: 20px 0 270px;
    h6{
        line-height: 2.7rem;
        font-style: italic;
    }
    .badge{
        font-family: $bodoni;
        font-size: 1.6rem;
        line-height: 2.7rem;
        border-radius: 0px;
        padding: .5rem 2.5rem;
        font-weight: $font-weight-normal;
        margin-right: 1rem;
    }
}
@media(min-width:992px){
    .single-blog-header{
        padding: 169px 0 97px;
    }
    .blog-intro{
        .blog-title{
            font-size: 4.4rem;
            line-height: 5rem
        }
    }
}

