.page-content{
    padding: 40px 0 60px;
    .service-title{
        font-size: 4.4rem;
        line-height: 5rem;
        font-family: $lato;
        font-weight: $font-weight-normal;
    }
    .service-content{
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
}
@media(min-width:992px){
    .page-content{
        padding: 170px 0 110px;
    }
}


