.team-section{
    padding: 5.4rem 0 6.7rem;
}
.team-member{
    border: 1px solid $primary;
    padding-bottom: 5.2rem;
    .team-bio{
        .team-name{
            font-size: 3rem;
            line-height: 2.7rem;
            font-weight: $font-weight-normal;
        }
        .team-content{
            font-size: 1.6rem;
            line-height: 2.3rem;
        }
    }
}
.team-slider{
    position: relative;
    .owl-dots{
        position: absolute;
        bottom: 2%;
        right: 45%;
    }
}
@media(min-width:768px){
    .team-member{
        padding: 5.4rem 0;
    }
}
@media(min-width:992px){
.team-slider{
    .owl-dots{
        bottom: 14%;
        right: 36%;
    }
}
}

